<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <title>User</title>
</head>
<body>
<div class="container">
    <div class="card mt-5">
        <div class="card-body">
            <p th:text="${'Handle: ' + user.getHandle()}">Handle</p>
            <br>
            <h3>Posts: </h3>
            <div class="form-group" th:each="post : ${posts}">
                <a class="btn btn-info" style="color: white" th:href="@{/posts/{id}(id=${post.getId()})}"
                   th:text="${'Title: ' + post.getTitle}">post</a>
                <br>
            </div>
            <hr>
            <div class="form-group" th:if="${user.getId()==currentUser.getId()}">
                <a class="btn btn-info" style="color: white" th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit
                    Handle</a>
                <br>
                <br>
                <a class="btn btn-info" style="color: white" th:href="@{/posts/new}">Create post</a>
                <br>
                <br>
                <form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
                    <input onclick="return confirm('Do you really want to delete your account?')" class="btn btn-danger"
                           type="submit" value="Delete account">
                </form>
            </div>
            <hr>
            <div class="form-group">
                <a class="btn btn-info" style="color: white" th:href="@{/users}">All users</a>

                <a class="btn btn-info" style="color: white" th:href="@{/menu}">Menu</a>

                <a class="btn btn-info" style="color: white" href="/">Sign Out</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>