<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create post</title>
</head>
<body>
<form th:method="POST" th:action="@{/posts/upload}" enctype="multipart/form-data">
    <label for="title">Title</label>
    <input type="text" th:field="*{post.title}" id="title">
    <div style="color: red" th:if="${#fields.hasErrors('post.title')}" th:errors="*{post.title}">Title error</div>
    <br>
    <label for="body">Text</label>
    <p><textarea rows="5" cols="25" th:field="*{post.body}" id="body"></textarea></p>
    <div style="color: red" th:if="${#fields.hasErrors('post.body')}" th:errors="*{post.body}">Body error</div>
    <br>
    <label for="image">Image</label>
    <input type="file"  accept=".png, .jpeg, .jpg" name="image" id="image">
    <br>
    <label for="tag">Tag</label>
    <input type="text" th:field="*{tag.tagWorld}" id="tag">
    <br>
    <div style="color: red" th:if="${#fields.hasErrors('tag.tagWorld')}" th:errors="*{tag.tagWorld}">Tag error</div>
    <br>
    <input type="submit" value="create">
</form>
</body>
</html>