<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form th:method="POST" th:action="@{/menu}" th:object="${user}">
    <label for="name">Handle</label>
    <input type="text" th:field="*{handle}" id="name">
    <div style="color: red" th:if="${#fields.hasErrors('handle')}" th:errors="*{handle}">Handle error</div>
    <br>
    <label for="password">Password</label>
    <input type="password" th:field="*{password}" id=password>
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    <br>
    <input type="submit" name="login" value="Sign In">
    <input type="submit" name="register" value="Create">
</form>
</body>
</html>