<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <title>Menu</title>
</head>
<body>
<!-- As a link -->
<nav class="navbar bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/users">Users</a>
    </div>
    <div class="container-fluid">
        <a class="navbar-brand" href="/posts">Posts</a>
    </div>
</nav>
</body>
</html>